{% extends "base.twig" %}

{% block title %}404 - Not Found{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/error.css">
{% endblock %}

{% block description %}
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">Page not found</div>
        <a href="/" class="back-link">Back to home page</a>
    </div>
{% endblock %}
