{% extends "base.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block description %}
    <div class="login-container">
        {% if error %}
            <div class="error-message login-error">{{ error }}</div>
        {% endif %}

        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" id="username" name="username" class="login-input" placeholder="Username" required>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="password" class="login-input" placeholder="Password" required>
            </div>

            <button type="submit" class="submit-button">Login</button>
        </form>
    </div>
{% endblock %}
